section.aboutUs
   h2 About Us
   p The Rovers : An NGO founded to facilitate learning, exploring and experiencing different
      |cultures and heritage. This organisation has been started with an initiative to educate
      |students about the culture and heritage of India through the mode of study programmes
      |and practical exposure. Our study programmes aspire to make ‘travel’, ‘learning’ and ‘living’
      |parallel processes to stimulate growth in an individual & develop a sense of pride. We want
      |to make travel a mode of education instead of leisure by engaging students in practical
      |learning through individual activities & group workshops which bring out the best in each.
      |We have also expanded by initiating these tours into foreign nations to broaden the horizon
      |of experience and exposure for students. After receiving positive reviews, we have decided
      |to collaborate with universities abroad to provide a better learning atmosphere for the
      |students participating in our programmes.
      |We also invite students and professionals with foreign nationalities to visit India and
      |experience the rich culture of the vast, diverse and the oldest thriving civilization, with
      |specially tailored programmes.
