html
   head
      link(rel='stylesheet' href='dist/assets/styles/main.css')
      link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Josefin+Sans' rel='stylesheet' type='text/css')
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      link(rel='stylesheet' href='dist/assets/styles/sap.css')
   body
      section.sap_details.clear
         .content
            h2 SAP - Situation Awareness Program
         p S.A.P intends to introduce summer and winter camps for school students belonging to the age group of 11-17. We will provide tailor made programmes for students to have the requisite exposure about the history and culture of India. This programme aims to bring a sense of identity and pride in students from a young age. The programmes will consists of educational seminars and group work related to the history, culture, art and heritage of the city along with introduction of hobby sessions in the local areas. This exposure will help in personality development, inculcating creative hobbies and knowing about their country from a grass root level.

         a(href='index.html')
                     button back to home

      include ../sections/footer.jade
      script
         |(function($) {
         |var allPanels = $('.accordion > dd').hide();
         |$('.accordion > dt > a').click(function() {
         |   allPanels.slideUp();
         |$(this).parent().next().slideDown();
         |   return false;
         |});
         |})(jQuery);
