html
    head
        link(rel='stylesheet' href='dist/assets/styles/main.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Josefin+Sans' rel='stylesheet' type='text/css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        link(rel='stylesheet' href='dist/assets/styles/souvenirs.css')
    body
        section.souvenirs.clear
            .content
                h2 Souvenirs
                    p
                        a(href='index.html') Home
            .grid#grid.clear
                .row.clear
                    a(href='thailand_story.html')
                        .col-1-3
                            img(src='dist/assets/images/truth.jpg')
                            p Thailand - the land of suns
                    a(href='wat_phnome.html')
                        .col-1-3
                            img(src='dist/assets/images/wat_phnom.jpg')
                            p Wat Phnom, Phnom Penh, Cambodia
                    a(href='wat_pho.html')
                        .col-1-3
                            img(src='dist/assets/images/wat_pho.jpg')
                            p Wat Pho - the land of suns
                .row.clear
                    a(href='delhi.html')
                        .col-1-3
                            img(src='dist/assets/images/delhi_3.jpg')
                            p New Delhi
