html
   head
      link(rel='stylesheet' href='dist/assets/styles/support.css')
      link(rel='stylesheet' href='dist/assets/styles/main.css')
      link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Josefin+Sans' rel='stylesheet' type='text/css')
   body
      section.support.clear
         .content
            h2 We need your support
         p <span>PARTNER WITH US, </span>
            |You can support us as a:
            ul
               li  Knowledge Partner
               li Tourism Partner
            p  You can collaborate with us with different Fund Raiser programmes in order to raise awareness
               |towards the intangible heritage of different zones in India. You can Partner with us through your
               |CSR, email us at the.rovers@outlook.com for a prosperous collaboration.
            p <span>JOIN:</span>
               |You can support us by joining us in our programmes as a Volunteer. Volunteering is a great way to
               |  get involved and get exposed to working in culturally stimulating environment. If you love travelling
               |  join us in one of our programmes or if you have information about any place that is unexplored write
               |  to us and tag along to document it.
               |  We are open to students (school/university) who can join us for internships up to 6 months. For
               |  applying email us at the.rovers@outlook.com stating reasons why you want to be a part of the
               |  organisation.
            p  <span>DONATE:</span>
               |You can be a part of us by donating. Donation can be in the following forms:
            ul
               li By sharing your expertise and knowledge in the field of art, architecture and heritage with
                  |us which in return we will share with the world as we firmly believe that knowledge
                  |increases with sharing
               li By donating vintage and unseen picture, documents, maps, etc which we could feature with
                  |due credit to you
               li By contributing financially through DD, Cheques, NEFT, etc. Any amount will be appreciated
                  |and we will provide you with proper details of donation being spent.
            p You can contact us at the.rovers@outlook.com for further details.
         a(href='index.html')
            button back to home

      include ../sections/footer.jade
