html
   head
      link(rel='stylesheet' href='dist/assets/styles/main.css')
      link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Josefin+Sans' rel='stylesheet' type='text/css')
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      link(rel='stylesheet' href='dist/assets/styles/tld.css')
   body
      section.tld_details.clear
         .content
            h2 TLD - Travel Learning Documentation
         p The Rovers : An NGO founded to facilitate learning, exploring and experiencing different
            |cultures and heritage. This organisation has been started with an initiative to educate
            |students about the culture and heritage of India through the mode of study programmes
            |and practical exposure. Our study programmes aspire to make ‘travel’, ‘learning’ and ‘living’
            |parallel processes to stimulate growth in an individual & develop a sense of pride. We want
            |to make travel a mode of education instead of leisure by engaging students in practical
            |learning through individual activities & group workshops which bring out the best in each
         .success_stories
            h2 Success Stories
            dl.accordion
               dt
                  a(href="") Panel 1
               dd Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.
               dt
                  a(href="") Panel 1
               dd Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.
               dt
                  a(href="") Panel 1
               dd Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.


         a(href='index.html')
                     button back to home

      include ../sections/footer.jade
      script
         |(function($) {
         |var allPanels = $('.accordion > dd').hide();
         |$('.accordion > dt > a').click(function() {
         |   allPanels.slideUp();
         |$(this).parent().next().slideDown();
         |   return false;
         |});
         |})(jQuery);
