html
head
   link(rel='stylesheet' href='dist/assets/styles/wat_pho.css')
   link(rel='stylesheet' href='dist/assets/styles/main.css')
   link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Josefin+Sans' rel='stylesheet' type='text/css')
body
   section.wat_pho.clear
      .content
         h2 Wat Pho - the land of suns
            p
               a(href='index.html') Home
      p to be updated soon.
      a(href='index.html')
         button back to home

   include ../sections/footer.jade
