section.about#about
    .content
        h2 About Us
        p An NGO founded to facilitate learning, exploring and experiencing different cultures and heritage. The organisation started with an initiative to educate students about the cultural marvels of India through study programmes and practical exposure. Our study programmes are tailored to give the participants a taste of India which is a potpourri of diversities. Through our programmes, we aspire to make the processes of travelling; learning and living go hand in hand in stimulating growth in an individual and also in developing a sense of self confidence. We want to make travel a mode of education along with leisure by engaging students in various workshops and activities which would bring out the best in all.
            <br>
            |We have also expanded by initiating these tours into foreign nations to broaden the horizon of experience and exposure for students. After a fair amount of positive reviews we have decided to collaborate with universities abroad to provide a better learning atmosphere for the students participating in our programmes.
            <br>
            |We also invite students or professionals of foreign nationalities to visit India and experience the culture of India with our tailored programmes, which we will personally customize to be safe, economical with easy travelling options.

