section.footer.clear#footer
    .content
        p.leftpara contact us<br>email:something@someone.com<br>phone:+91-8173903453<br>address:3rd floor aparupa shilpi builduing, gachibowli, hyderabad, 500032.
        p.rightpara copyrights@2015 therovers
