section.footer.clear#footer
    center
        .content.clear
            .content-1
                img(src="dist/assets/images/walk.png" align='left' width=30 height=60)
                p #[span WALK] <br> 4B/28, 2nd Floor, Tilak Nagar, New Delhi, Delhi 110018.
                    //a(href='support.html') read more &#10140;
            .content-2
                .content-2-1
                    img(src="dist/assets/images/talk.png" align='left' width=60 height=60)
                    p #[span TALK]
                        <br> the.rovers@outlook.com
                .content-2-2
                    img(src="dist/assets/images/stalk.png" align='left' width=60 height=60)
                    p #[span STALK]
                        ul#social_icons
                            li
                                a(href='https://facebook.com/rover.org')
                                    img(src="dist/assets/images/fb.png" width=40 height=40)
                            li
                                a(href='https://www.youtube.com/channel/UCAH9TX_LhImPk9YEKKjf26A')
                                    img(src="dist/assets/images/yt.png" width=40 height=40)
                            li
                                a(href='https://instagram.com/the.rovers')
                                    img(src="dist/assets/images/instagram.png" width=40 height=40)
                            li
                                a(href='https://twitter.com/rovers_org')
                                    img(src="dist/assets/images/tw.png" width=40 height=40)
                            li
                                a(href='https://plus.google.com/104702493225393804345/about')
                                    img(src="dist/assets/images/gplus.png" width=40 height=40)
                            li
                                a(href='http://issuu.com/therovers')
                                    img(src="dist/assets/images/issuu.png" width=40 height=40)
        p.rightpara copyrights@2015 rovers.org.in
