section.footer.clear#footer
    .content
        p.leftpara contact us<br>email:something@someone.com<br>phone:+91-8173903453<br>address:3rd blah blah builduing, ghibsaffli, hyderabad, 5134032.
        p.rightpara copyrights@2015 therovers
