section.footer.clear#footer
    .content
        p.leftpara contact us<br>email :   the.rovers@outlook.com <br>address :   4B/28, 2nd Floor, Tilak Nagar, Behind Star Imagine, New Delhi, Delhi 110018.
        p.rightpara copyrights@2015 therovers.org.in
