section.footer.clear#footer
    center
        .content.clear
            .content-1
                img(src="dist/assets/images/walk.png" align='left' width=30 height=60)
                p #[span WALK] <br> 4B/28, 2nd Floor, Tilak Nagar, New Delhi, Delhi 110018.
                    //a(href='support.html') read more &#10140;
            .content-2
                .content-2-1
                    img(src="dist/assets/images/talk.png" align='left' width=60 height=60)
                    p #[span TALK]
                        <br> the.rovers@outlook.com
                .content-2-2
                    img(src="dist/assets/images/stalk.png" align='left' width=60 height=60)
                    p #[span STALK]
        p.rightpara copyrights@2015 rovers.org.in
