section.heritage#heritage
    .content
        h2#main Our Heritage
        div.content-1
            h2
                img(src="dist/assets/images/culture2.png" align='left' width=100 height=100)
                |culture
            p and living parallel processes to stimulate growth in an individual developing a sense of pride. We want to make travel a mode of educating instead of leisure by engaging students in group workshops, individual activities which would bring out the best in each.
        div.content-2
            div.content-2-1
                h2
                    img(src="dist/assets/images/quill.png" align='left' width=100 height=100)
                    |art & arch

                p and living parallel processes to stimulate growth in an individual developing a sense of pride. We want to make travel a mode of educating instead of leisure by engaging students in group workshops, individual activities which would bring out the best in each.
            div.content-2-2
                h2
                    img(src="dist/assets/images/history.png" align='left' width=100 height=100)
                    |history
                p and living parallel processes to stimulate growth in an individual developing a sense of pride. We want to make travel a mode of educating instead of leisure by engaging students in group workshops, individual activities which would bring out the best in each.
