section.heritage#heritage
    .content.clear
        h2#main Support
        div.content-1
            h2
                img(src="dist/assets/images/donate.png" align='left' width=100 height=100)
                |Donate
            p By sharing your expertise and knowledge in the field of art, architecture or by donating vintage and unseen picture or contributing financially.
        div.content-2
            div.content-2-1
                h2
                    img(src="dist/assets/images/support.png" align='left' width=100 height=100)
                    |Partner with us

                p You can collaborate with us with different Fund Raiser programmes in order to raise awareness
                    |towards the heritage of India.
            div.content-2-2
                h2
                    img(src="dist/assets/images/join_us.png" align='left' width=100 height=80)
                    |Join
                p You can support us by joining us in our programmes as a Volunteer. Get exposed to working in culturally stimulating environment.
