section.navigator
    .content
        h1.logo
            a(href='#')
                img(src="dist/assets/images/logo.png")
        button.navigation-toggle
            hr
            hr
            hr
        ul(id="nav", class="navigation")
            li: a(href="#about",class="current") About
            li: a(href="#programs" onclick='bounce()') Programs
            li: a(href="#stories") Souvenirs
            li: a(href="#heritage") Support
            li: a(href="#footer") Contact
    //.dangling_img
    //    img.social_box(src='dist/assets/images/dang.png')
