section.programs#programs
    .content
        h2 Programs we offer
        div.tld
            div.content
                p founded to facilitate learning, exploring and experiencing of different cultures and heritage. The organisation started with an initiative
                div.box
                    img.right(src='dist/assets/images/aware.png')
                    h2.left Situation<br>Awareness Program
        div.sap
            div.content
                div.box
                    img.left(src='dist/assets/images/travel.png')
                    h2.right Travel <br> Learning <br> Documentation
                p founded to facilitate learning, exploring and experiencing of different cultures and heritage. The organisation started with an initiative

