section.programs
    h2 Programs we offer
    div.tld
        div.content
            p founded to facilitate learning, exploring and experiencing of different cultures and heritage. The organisation started with an initiative
            div.box
                h2.left Travel <br> Learning <br> Documentation
                img.right(src='dist/assets/images/travel.png')
    div.sap
        div.content
            div.box
            p founded to facilitate learning, exploring and experiencing of different cultures and heritage. The organisation started with an initiative
                img.left(src='dist/assets/images/aware.png')
                h2.right Situation <br> Awareness <br> Program

