section.programs#programs
    .content
        h2 Programs we offer
        div.tld
            div.content_box
                p founded to facilitate learning, exploring and experiencing of different cultures and heritage. The organisation started with an initiative
                div.box.clear
                    h2.left Situation<br>Awareness Program
                    img.right(src='dist/assets/images/aware.png' align='right')

        div.sap
            div.content_box
                div.box.clear
                    h2.right Travel <br> Learning <br> Documentation
                    img.left(src='dist/assets/images/travel.png' align='left')

                p founded to facilitate learning, exploring and experiencing of different cultures and heritage. The organisation started with an initiative
