section.stories.clear#stories
    h2#main Souvenirs
    .content.clear
        .yellow_line_top
        .inner_content.clear
            img#story_image(src='' align='right')
            h2#story_heading
            p#story_desc
            a#story_link(href='')
                button read more &#10140;
        .yellow_line_bottom
        //.milestone
        //    img(src='dist/assets/images/milestone.png' width='80')
script(src='dist/assets/scripts/stories_changer.js')
