section.stories.clear
    h2#main Stories so far
    .content.clear
        .yellow_line_top
        .inner_content.clear
            img#story_image(src='dist/assets/images/3.jpeg' align='right')
            h2#story_heading Thailand tour stories
            p#story_desc and living parallel processes to stimulate growth in an individual developing a sense of pride. We want to make travel a mode of educating and living parallel processes to stimulate growth in an individual developing a and living parallel processes to stimulate growth in an individual developing a instead of leisure by engaging students in group workshops, individual activities which would bring out the best in each.
            a#story_link(href='thailand_story.html')
                button read more &rarr;
        .yellow_line_bottom
script(src='dist/assets/scripts/stories_changer.js')
