section.stories.clear
    h2#main Stories so far
    .content.clear
        .yellow_line
        .inner_content.clear
            h2 Thailand tour stories
            img(src='dist/assets/images/3.jpeg' align='right')
            p and living parallel processes to stimulate growth in an individual developing a sense of pride. We want to make travel a mode of educating instead of leisure by engaging students in group workshops, individual activities which would bring out the best in each.
        .yellow_line
