section.stories.clear
    h2#main Stories so far
    .content.clear
        .yellow_line_top
        .inner_content.clear
            img#story_image(src='' align='right')
            h2#story_heading
            p#story_desc
            a#story_link(href='')
                button read more &rarr;
        .yellow_line_bottom
script(src='dist/assets/scripts/stories_changer.js')
