html
    head
        title The Rovers
        link(rel="stylesheet" href="dist/assets/styles/main.css")
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab|Josefin+Sans' rel='stylesheet' type='text/css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="dist/assets/scripts/index.js")
        script(src="dist/assets/config/stories_source.js")
        link(rel="stylesheet" href="dist/assets/styles/animate.css")
        script(src="dist/assets/lib/wow.min.js")
    body(onscroll="check_n_bounce()")
        include sections/navigation.jade
        include sections/slider.jade
        include sections/about.jade
        include sections/programs.jade
        include sections/stories.jade
        include sections/heritage.jade
        include sections/footer.jade
