section.footer
  background: #000000
  color: white
  margin-bottom: 0
  p
    padding: 20px
    line-height: 1.5em
  p.leftpara
    text-align: left
    float: left
  p.rightpara
    text-align: right
    float: right
