section.programs
  font-family: 'Josefin Sans', sans-serif
  margin: 80px 0 0 0
  h2
    padding: 20px
    font-size: 36px
    font-weight: 100
    margin: 0 0 0 20px
  img
    max-width: 150px
    max-height: 180px
  div.tld
    background: #FEAC0D
    float: left
    width: 50%
    z-index: 1
    border-radius: 0 200px 200px 0
    padding-right: 80px
    height: 320px
    div.content_box
      clear: both
      p
        padding: 40px 60px 20px 20px
        line-height: 1.3em
        font-size: 18px
      h2
        font-size: 40px
        font-weight: bolder
        line-height: 1.3em
        color: #52260f
        font-family: 'Arial',monospace
      img
        padding-right: 60px
  div.sap
    background: #FED586
    width: 50%
    z-index: 2
    margin-top: -320px
    float: right
    height: 320px
    border-radius: 200px 0 0 200px
    div.content_box
      float: right
      text-align: right
      clear: both
      div.box
        clear: both
      h2
        font-size: 40px
        font-weight: bolder
        line-height: 1.3em
        color: #52260f
        font-family: 'Arial',monospace
      img
        padding: 45px 20px 20px 160px
    p
      padding: 10px 20px 20px 90px
      font-size: 18px
      line-height: 1.3em
      clear: both

  .left
    float: left
  .right
    float: right
