section.stories
  padding: 100px 0 0 0
  font-family: 'Josefin Sans', sans-serif
  clear: both
  h2
    padding-bottom: 20px
    font-size: 32px
    font-weight: 100
  h2#main
    padding-left: 40px
  .content
    color: #ffffff
    background: #2a2929
    .yellow_line_top
      border-bottom: solid 2px #FEAC0D
      padding-top: 20px
    .yellow_line_bottom
      border-top: solid 2px #FEAC0D
      padding-bottom: 20px
    .inner_content
      padding: 40px 80px 40px 80px
      img
        border-radius: 50%
        width: 280px
        height: 280px
      p
        line-height: 1.8em
        width: 70%
        font-size: 20px
      button
        background: #FEAC0D
        border: none
        border-radius: 10px
        font-size: 20px
        padding: 8px
        float: right
        margin-right: 110px
        font-family: 'Josefin Sans', sans-serif
    .milestone
      img
          margin-top: -120px
          padding-left: 40px
          z-index: 10000
